n8n/tool-create-todo.json
{
  "name": "Tool - Create Todo",
  "nodes": [
    {
      "id": "start",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "http-create",
      "name": "HTTP Request - Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://simple-todo-list-blush.vercel.app/api/todos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "tdn934hf347f93h4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.query.title }}\",\n  \"user_identifier\": \"{{ $json.query.user_identifier }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.success && response.data) {\n  return [{ json: { result: `Created task: \"${response.data.title}\"` } }];\n}\n\nreturn [{ json: { result: \"Failed to create task.\" } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
