n8n/tool-delete-todo.json
{
  "name": "Tool - Delete Todo",
  "nodes": [
    {
      "id": "start",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "http-delete",
      "name": "HTTP Request - Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "DELETE",
        "url": "=https://simple-todo-list-blush.vercel.app/api/todos/{{ $json.query.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "tdn934hf347f93h4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_identifier\": \"{{ $json.query.user_identifier }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.success) {\n  return [{ json: { result: \"Task deleted successfully.\" } }];\n}\n\nreturn [{ json: { result: \"Failed to delete task. Make sure you own this task.\" } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Delete": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
