n8n/tool-update-todo.json
{
  "name": "Tool - Update Todo",
  "nodes": [
    {
      "id": "start",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "http-update",
      "name": "HTTP Request - Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "PUT",
        "url": "=https://simple-todo-list-blush.vercel.app/api/todos/{{ $json.query.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "tdn934hf347f93h4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const payload = { \n    user_identifier: $json.query.user_identifier \n  };\n  if ($json.query.title !== undefined) {\n    payload.title = $json.query.title;\n  }\n  if ($json.query.completed !== undefined) {\n    payload.completed = $json.query.completed;\n  }\n  return JSON.stringify(payload);\n}}",
        "options": {}
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.success && response.data) {\n  const status = response.data.completed ? 'completed' : 'not completed';\n  return [{ json: { result: `Updated task \"${response.data.title}\" - ${status}` } }];\n}\n\nreturn [{ json: { result: \"Failed to update task. Make sure you own this task.\" } }];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Update": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
